

:root {
    /* Set sans-serif fonts */
      --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
      Roboto, Noto, "Segoe UI", Arial, Helvetica,
      "Helvetica Neue", sans-serif;

    --base-fontsize: 1.15rem;
    --header-scale: 1.25rem;
    --line-height: 1.618;
    
    /* Varibles */

    --outlineColor: lightGray;
    --smallBorderRadius: 5px;

    --plateBackroundColor: white;
    --mainColor: #78B03D;
    --mainCollorDark: #6c9e37;
    --plateRadius: 10px;
    --titleColor: white;

    --inputColor: white;
    --buttonColor: rgb(175, 175, 175);
    --inputRadius: 5px;

    --redColor: #ffdddd;
    --greenColor: green;
}
    
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* font-size: 1.5rem; */  /** Change scale of ALL text **/
}



header{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--mainColor);
    background: var(--plateBackroundColor);

    font-size: var(--header-scale);
    height: 200px;
    /*border-bottom: 1px solid var(--mainColor);*/
}

header img{
    width: 175px;
    height: 175px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 50px;
}

main > *{
    width: 100%;
}

main > *:last-child{
    grid-column: span 4;
}
select{
    border-radius: var(--inputRadius);
    border: 1px solid var(--outlineColor);
    font-size: calc(var(--header-scale) * 0.8);
    padding: 0.2rem 0.4rem;
    background: white;
    align-self: center;
}

button{
    border-radius: var(--inputRadius);
    font-size: calc(var(--header-scale) * 0.8);
    padding: 0.7rem 0.9rem;
    transition: 0.4s;
    background: var(--buttonColor);
    align-self: center;
}

button:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

textarea{
    padding: 5px;
    background: var(--inputColor);
    border: 1px solid var(--outlineColor);
    border-radius: var(--inputRadius);
    height: 200px;
}

input {
    height: 20px;
    text-align: center;
    background: var(--inputColor);
    border: 1px solid var(--outlineColor);
    border-radius: var(--inputRadius);
}

table {
    border-collapse: collapse;
}

td > input{
    width: 80%;
}

td{
    padding: 5px;
}

td:not(:first-child) {
    text-align: center;
}

.justifyCenter{
    display: flex;
    gap: 5px;
    align-items: center;
}

.plate{
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;
    background: var(--plateBackroundColor);

    border-radius: var(--plateRadius);
    border: 1px solid var(--mainColor);
}

.plateTitle{
    background-color: var(--mainColor);
    color: var(--titleColor);
    font-size: var(--header-scale);
    text-align: center;

    border-radius: calc(var(--plateRadius)-4) calc(var(--plateRadius)-4) 0 0;
    padding: 8px;
}

.smallPlate{

    display: flex;
    flex-direction: column;

    overflow: hidden;
    background: var(--plateBackroundColor);

    border-radius: var(--smallBorderRadius);
    border: 1px solid var(--outlineColor);
}

.smallTitle{
    background-color: var(--outlineColor);
    font-size: var(--base-fontsize);
    text-align: center;
    border-radius: calc(var(--plateRadius)-4) calc(var(--plateRadius)-4) 0 0;
    padding: 5px;
}

.plateContent{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.scrollablePlate{
    max-height: 118px;
    overflow-y: auto;
}

.plateContentRow{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.flexRow > * {
    width: 100%;
}

.inactive{
    display: none;
    animation: slideIn 1s linear;
}

.swapButton{
    padding: 0.5rem;
    width: 1.2rem;
    height: 25px;
    line-height: 0;
}

.synonymSelect{
    font-size: 0.8rem;
}

.oneSynonyme {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }

.pulse{
    animation: pulse 4s ease-in-out infinite;
}

.loading-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#ExampleSequance{
    align-self: center;
}

#libraries{
    background-color: var(--outlineColor);
    font-size: var(--header-scale);
    text-align: center;
    border-radius: calc(var(--plateRadius)-4) calc(var(--plateRadius)-4) 0 0;
    padding: 5px;
}

#customFile{
    border: none;
}

.statusFadeIn {
    animation: statusUpdateIn 0.2s;
}
    
.statusFadeOut {
    animation: statusUpdateOut 0.2s;
    opacity: 0;
}

#statusSearchSymbols{
    height: auto;
}

#dropdownBody * {
    padding: 2px;
    /*border-top: 1px solid var(--outlineColor);*/

}

#rankingOrder{
    width: 80%;
}

#startButton{
    width: 100%;
}
#searchSymbolsPlate > :nth-child(1) {
    flex: 0 0 50%;
}

#searchSymbolsPlate > :nth-child(2) {
    flex: 0 0 40%;
}

#overlay {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.libraryInfo{
    font-family: 'Times New Roman', Times, serif;
}

.fazeIn{
    /*animation: fazeInA 0.3s ease-in-out;*/
    height: 100%;
}

.fazeOut{
    /*animation: fazeOutA 0.3s ease-in-out;*/
    height: 0;
}

@keyframes fazeOutA {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@keyframes fazeInA {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;

    }
}


@keyframes statusUpdateOut {
    0% {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
    100% {
        transform: translate(0px, -20px);
        opacity: 0%;
    }
}

@keyframes statusUpdateIn {
    0% {
        transform: translate(0px, 20px);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translate(0px, 0px);
    }
}


@keyframes pulse{
    0% { 
        color: black;
    }
    50% { 
        color: var(--outlineColor);
    }
    100% { 
        color: black;
    }
}