<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='index.css')}}">
</head>
<body onload="htmlSetdefaultValues()">
    <header class="hdsTitle">
        <img src="{{ url_for('static', filename='/logo.png') }}" width="150px" height="150px">
        <div>
            <h1>Green Listed</h1>
            <h2>- a CRISPR Screen Tool</h2>
        </div>
    </header>

<main>
    <div class="plate">
        <h2 class="plateTitle">1. Reference library</h2>
        <div class="plateContent">

            <div class="smallPlate">
                <h3 class="smallTitle">
                    <select id="libraries" onchange="indexChangeLibrary(this.value)" required>
                        <!--<option value="None" disabled selected style="display:none" >Select library</option>-->

                        <option value="custom">User Upload</option>
                    </select>
                </h3>
                <div class="plateContent">
                    <form id="User Upload" class="inactive">
                        <p class="flexRow">
                            Select a .txt file to use as Library
                            <input type="file" accept=".txt" id="customFile" onchange="indexLibraryChanges()">
                        </p>
                        
                        <table>
                            <tr id="GeneSymbolIndexRow">
                                <td>Gene ID Column</td>
                                <td><input type="number" id="GeneSymbolIndex" onchange="indexSetLibrarySettings()"></td>
                                <td id="statusFileSymbolIndex"></td>
                            </tr>
                            <tr id="gRNAIndexRow">
                                <td>gRNA Column</td>
                                <td><input type="number" id="gRNAIndex" onchange="indexSetLibrarySettings()"></td>
                                <td id="statusFilegRNAIndex"></td>
                            </tr>
                            <tr id="rankingIndexRow">
                                <td>Rank Column (optional)</td>
                                <td><input type="number" id="rankingIndex" onchange="indexSetLibrarySettings()"></td>
                                <td id="statusRankingIndex"></td>
                            </tr>
                        </table>
                        
                    </form>
                    <div id="statusSequencesFound"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="plate">
        <h2 class="plateTitle">2. Search symbols</h2>
        <div class="plateContent">

            <div class="smallPlate">
                <h3 class="smallTitle">Symbols</h3>
                <div class="plateContent">
                    <form class="justifyCenter">
                            <input type="checkbox" id="partialMatches" onchange="indexLibraryChanges()">
                            <label class="justifyCenter">Allow for partial matches</label>
                    </form>
                    <div>
                        <textarea id="searchSymbols" onchange="indexLibraryChanges()">

                        </textarea>
                    </div>
                    <p id="statusSearchSymbolsRows"></p>
                </div>
            </div>


            <div class="smallPlate">
                <h3 class="smallTitle" id="symbolsNotFound">Symbols not found</h3>
                <div class="plateContent scrollablePlate">
                    <table id="availableSynonyms">
                        <tbody id="dropdownBody">
    
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    
    <div class="plate">
        <h2 class="plateTitle">3. Post processing</h2>
        <div class="plateContent">

            <div class="smallPlate">
                <h3 class="smallTitle">Ranking</h3>
                <table class="plateContent">
                    <tr>
                        <td>Ranking order</td>
                        <td>
                            <select id="rankingOrder">
                                <option value="descending">Descending</option>
                                <option value="ascending">Ascending</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Limit to top</td>
                        <td><input type="number" id="numberToRank" onchange="indexSettingsChanges()"></td>
                        <td></td>
                    </tr>
                </table>
            </div>


            <div class="smallPlate">
                <h3 class="smallTitle">Sequence modifications</h3>
                <div class="plateContent">
                    <table>
                        <tr>
                            <td>Trim </td>
                            <td>3'<input type="number" id="trimBefore" min="0" value="0" onchange="indexSettingsChanges()"></td>
                            <td>5'<input type="number" id="trimAfter" min="0" value="0" onchange="indexSettingsChanges()"></td>
                            
                        </tr>
                        <tr>
                            <td>Adaptor Sequences</td>
                            <td>3'<input type="text" id="adaptorBefore" onchange="indexSettingsChanges()"></td>
                            <td>5'<input type="text" id="adaptorAfter" onchange="indexSettingsChanges()"></td>
                        </tr>
                    </table>
                    <p class="hdsTitle2" id="ExampleSequance">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="plate">
        <h2 class="plateTitle">4. Output</h2>

        <div class="plateContent">
            <div class="smallPlate">
                <h3 class="smallTitle"> Output Settings </h3>
                <div class="plateContent">
                    <input type="number" id="" placeholder="Columns used for compact output">
                    <input type="text" id="outputFileName" placeholder="Output file name" onchange="indexSettingsChanges()">
                    <div class="smallPlate"> 
                        <button id="startButton" onclick="indexStartScreening()">Start Search</button>
                        <div id="statusSearch"></div>
                    </div>
                </div>
            </div>

            
            <div class="smallPlate">
                <h3 class="smallTitle"> Final output</h3>
                <div class="plateContent" id="output">
                    <a href="" id="FullDownload">Download Output</a>
                    <a href="" id="CompactDownload">Download Compact </a>
                    <a href="" id="SettingsDowload" onclick="dowloadSettings()">Download Settings</a>
                </div>

            </div>
        </div>
    </div>

    <footer class="plate">
        <h2 class="plateTitle">5. Show output </h2>
        <div class="plateContent">
            <div id="fileContent"> 

            </div>
        </div>

    </footer>

</main>
    <script>

    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='library.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='settings.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='grnaService.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='screeningHandler.js')}}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>
</body>
</html>